.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.health-display {
    position: relative;
    background-image: url('/src/main/resources/META-INF/resources/img/HPicon.png');
    background-size: 100% 100%;
    background-position: center;
    padding: 50px;
    width: 100px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
}

.centered-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Adjust the text color as needed */
    font-size: 40px; /* Adjust the font size as needed */
}